.RecentTransactionsLineChart {
  position: absolute;
  top: 50px;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.06);
  width: 289px;
  height: 344px;
  overflow: hidden;
}
.RecentTransactionsChartText {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 91.5%;
  font-weight: 800;
  color: #000;
  display: flex;
  align-items: center;
  width: 141px;
  height: 30px;
}
.RecentTransactionsChart {
  position: relative;
  width: 289px;
  height: 394px;
  flex-shrink: 0;
  text-align: left;
  font-size: 10px;
  color: #bcbcbc;
  font-family: Urbanist;
}
